*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

.photoshop{
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:100px;
    margin-top: 50px;
    padding: 50px;
    align-items: center;
   
}


.nav-item {
    font-size: 1.5rem;
}
   
.nav-item :hover{
    color: var(--main-color);
}


.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.image1,img{
    width: 280px;  
    border-radius: 20px;
}
main{
    padding: 2.5rem;
}
span{
    color: var(--main-color);
}
.social-media a{
    display: inline;
    justify-content:space-around;
    align-items: center;
    position: relative;
    top: 30px;
    width: 4rem;
    height: 4rem ;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius:50% ;
    font-size:1.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    padding: 1rem;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow:0 0 1rem var(--main-color)
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:0 0 1rem var(--main-color);
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    position: relative;
    top:60px;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
   bottom: 80px;
}
.btn:hover{
    box-shadow: none;
}
.photoshop{
    background-color: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:100px;
    margin-top: 50px;
    padding: 50px;
    align-items: center;
   
}
/* .about{
    padding: 3rem;
} */
.me{
    font-size: 3rem;
    text-align: center;
    color: var(--text-color);
}
/* .row p{
    text-align: justify;
} */
.heading{
font-size: 3rem;
text-align: center;
color: var(--text-color);
padding: 2rem;
}

.portfolio{
    background: var(--bg-color);
    padding: 4rem;
}
.portfolio-container{
  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    align-items: center;
    margin-top: 50px;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius:2rem ;
    box-shadow: 0 0 1rem var(--bg-color);
    border: solid var(--main-color);
    display: flex;

}
.portfolio-box img{
    width: 100%;
    height: 350px;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}


.Contact{
    background: var(--second-bg-color);
    padding: 3rem;
}
.Contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
 
}
.Contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Contact form .input-box input,
.Contact form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.Contact form .input-box input{
    width: 49%;
}
.Contact form textarea{
    resize: none;
}
.btn1{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow:0 0 1rem var(--main-color);
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    font-size:1.5rem;
    text-decoration: none;

}
.btn1:hover{
    box-shadow: none;
    
} 
